html, body{
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("images/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

#content-left{
  padding-left: 20px;
  margin-top: -10px;
  width: 370px;
  height: 100%;
  float: left;
}

#campID-div{
  margin-top: -15px;
  margin-bottom: 23px;
}

#campID{
  width: 127px;
}

#input{
  margin-top: -10px;
  margin-bottom: 15px;
  background-color: whitesmoke;
  border: 1px dashed black;
  padding: 73px 58px 73px 58px;
}

#input[type="file"]:hover{
  background-color: whitesmoke;
}

#input[type="file"]:focus{
  outline: none;
}

#content-right{
  width: 400px;
  height: 100%;
  float: right;
}

#process-count{
  text-align: center;
  margin: 10px 0 0 0;
  padding: 0 0 1px 0;
}

#raw-sql-container{
  background-color: white;
  font-size: 12px;
  width: 90%;
  height: 85%;
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid black;
}

#system-msgs-container{
  background-color: white;
  font-size: 12px;
  width: 100%;
  height: 10%;
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid black;
}

input, #raw-sql-container, #azure-div{
  opacity: .8;
}

#azure-div{
  border: 1px solid black;
  background-color: white;
  height: 250px;
  padding-left: 20px;
}

#status-div{
  margin-top: 6px;
  font-size: 12px;
  text-align: center;
}

#azure-div label {
  float: left;
  width: 5em;
  text-align: right;
  margin-top: 4px;
}

#azure-div input {
  width: 200px;
  height: 20px;
  margin-left: 1em;
  margin-bottom: .5em;
}

#campID-notice{
  font-size: 13px;
  position: absolute;
  top: 135px;
  left: 80px;
  opacity: .7;
}

#sendButton {
  padding: 0 20px 0 20px;
  margin-top: 12px;
  margin-left: 80px;
}

#sendButton:hover {
  cursor: pointer;
}

footer{
  font-size: 14px;
  position: absolute;
  width: 100%;
  height: 30px;
  bottom: 0;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
}

footer a{
  text-decoration: none;
}

#refresh-button{
  position: absolute;
  bottom: 9px;
  left: 15px;
  background: none;
  border: none;
}

#refresh-button:hover{
  cursor: pointer;
}

#refresh-button:focus{
  outline: none;
}

#refresh-icon{
  width: 25px;
  height: 25px;
}