html, body{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background-image: url("images/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

#raw-sql{
  font-size: 10px;
  background-color: white;
  width: 90%;
  height: 40%;
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid black;
}

input, #raw-sql{
  opacity: .9;
}